braceexpand
bs4
humanhash3
lxml
matplotlib
scikit-image
scipy
tasker
typer
tabulate
kornia
editdistance
-e git+https://github.com/tmbdev/torchmore.git#egg=torchmore
webdataset
pytorch-lightning
wandb
click==8.0.4
ray
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
