typer
braceexpand
bs4
editdistance
lxml
matplotlib
scikit-image
scipy
humanhash3
tabulate
-e git+git://github.com/tmbdev/webdataset.git#egg=webdataset
-e git+git://github.com/NVlabs/ocrodeg.git#egg=ocrodeg
-e git+git://github.com/NVlabs/tensorcom.git#egg=tensorcom
-e git+git://github.com/tmbdev/tarproc.git#egg=tarproc
-e git+git://github.com/tmbdev/torchmore.git#egg=torchmore
-e git+git://github.com/NVlabs/ocrodeg.git#egg=ocrodeg
