braceexpand
bs4
humanhash3
lxml
matplotlib
scikit-image
scipy
tasker
typer
tabulate
kornia
editdistance
-e git+https://github.com/tmbdev/torchmore.git#egg=torchmore
-e git+https://github.com/tmbdev/webdataset.git#egg=webdataset
pytorch-lightning
wandb
# -e git+https://github.com/PytorchLightning/pytorch-lightning.git@master#egg=pytorch_lightning
ray
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
